       .mycolour{
                background: green;
            }
            .mybody{
                background: violet;
            }
            .mystyle{
                background: green;
            }
            .mypage{
                background: royalblue;
            }
            .mypref{
                background: pink;
            }
            .mygreen{
                background: brown;
            }
            .mypink{
                background: pink;
            }
            .myyellow{
                background: yellow;
            }